body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.posts {
  width: 200px;
  height: 400px;
  overflow: auto;
  border-radius: 10px;

  padding: 10px;

  background-color: rgb(190, 190, 190);
}

.post {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;

  background-color: #e8e8e8;
}

.loading {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
